<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form action= <%= `/user/${user.id}` %> method="POST">
            <div>
                Nome
                <input type="text" name="name" value=<%= `${user.name}` %>>
            </div>
            <br>
            <div>
                Sobrenome
                <input type="text" name="surname" value=<%= `${user.surname}` %>>
            </div>
            <br>
            <div>
                <input type="submit" value="Salvar">
            </div>
        </form>
        <br>
        <div>
            <form action=<%= `/user/${user.id}/delete` %> method="POST">
                <input type="submit" value="Deletar">
            </form>
        </div>
    </body>
</html>