<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Teste prático PSO</h1>
        <p>Demonstraçãod de CRUD utilizando node, eJS, Sequelize.</p>
    </header>
    <div>
        <h2>Usuários</h2>
        <a href="/new">Novo Usuário</a>
        <ul>
            <% for(var i=0; i<users.length; i++) { %>
                <li><a href=<%= `/user/${users[i].id}` %>><%= users[i].name %></a></li>
            <% }; %>
        </ul>
    </div>
</body>
</html>